.CartWidget-link-container{
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}
@media screen and (max-width: 991px){
    .cartWidget-link-container{
        justify-content: flex-start;
    }
}