.itemCount{
    width: 100%;
}
.itemCount .card-body{
    padding: 0;
}
.counter-buttons{
    display: flex;
    justify-content:space-between;
    align-items:center;
    color:rgb(129, 2, 155);
    width: 100%;
    background-color:transparent;
    border-radius: 5px;
}
.add-item-btn, .counter-button{
    border: 0;
    padding: 12px;
    width: 100%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(207,0,255,1) 100%) !important;
    border-radius: 5px;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-weight:600;
}
.counter-button:disabled, .add-item-btn:hover{
    opacity: .7;
    cursor: pointer;
}
.counter-button:disabled, .add-item-btn:disabled{
    opacity: .7;
}
.counter-button{
    padding:5px;
    max-width: 40px;
}
.counter-info{
    display: flex;
    justify-content:center;
    border-radius: 5px;
    align-items:center;
    text-align: center;
    width:100%;
    padding:6px auto;
    width:100%;
    background-color:#d1d1d1;
    min-height: 35px;
}